@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400;600;700&family=Black+Ops+One&family=Hachi+Maru+Pop&family=Rajdhani:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Antonio', sans-serif;;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-image: linear-gradient(
        #f3fde880,
        #f3fde881),
        url(images/veterinarian-check-ing-puppy-s-health-2.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
        display: flex;
        align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #435334;
    font-size: 25px;
    font-weight: 700;
}

.logo-img {
    height: 150px;
    padding: 30px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:  #435334;
    display: block;
    font-weight: 600px;
}

.menu .navbar ul li a:hover {
    color: #9EB384;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #435334;
    text-transform: uppercase;
    margin-bottom: 55px;
    padding-top: 100px;
}

.header-content p {
    font-size: 30px;
    color: #9EB384;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #435334;
    color: #CEDEBD;
    text-transform: uppercase;
    border-radius: 20%;
}

.btn-1:hover {
    background-color: #435334;
}


.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #F3FDE8;
}

.general-2 {
    background-image: url(images/1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3 {
    background-image: url(images/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-4 {
    background-image: url(images/3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #435334;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #9EB384;
    margin: 25px 0 45px 0;
}
.map {
    display: flex;
    background-color: #F3FDE8;
}

.maps {
    padding: 100px 250px 100px 100px;
    background-color: #F3FDE8;
    align-items: center;
}

.info {
    font-size: 16px;
    color: #9EB384;
    display: block;
    margin-bottom: 15px;
}


.info {
    padding: 100px 0 100px 100px;
    background-color: #F3FDE8;
}

.footer {
    padding: 100px 0;
    background-color: #CEDEBD;
    max-height: 50vh;

}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #435334;
    margin-bottom: 15px;
}

link a {
    font-size: 16px;
    color: #435334;
    display: block;
    margin-bottom: 15px;
}

h6 {
    text-align: center;
    font-size: 18px;
    color: #435334;
    margin-bottom: 10px;
}

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3, .general-4 {
        display: none;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;        
    }


}