@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap');

body {
    background-color: #456789;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    margin: auto;
    padding: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title {
    background-color: aliceblue;
    font-size: 20px;
    color: #456789;
    margin: auto;
    padding: 5%;
    text-align: center;
}    

p {
    font-size: 20px;

}

hr {
    color: aliceblue;
}


h2, h3, h4 {
    text-align: center;
}
