body {
    font-family: sans-serif;
    padding: 20px;
    background-image: url(media/images/boxer-girl-t7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    background-color: black;
  }
  
  .menu {
    margin: auto;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: rgb(70, 69, 69);
  }
  
  hr {
    height: 3px;
    background-color: rgb(214, 208, 208);
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  
  .established {
    font-style: italic;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  h1,
  h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  section {
    margin: 20px 0;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .name {
    width: 69%;
  }
  
  .price {
    width: 29%;
    text-align: right;
  }
  
  /* FOOTER */
  
  footer {
    text-align: center;
  }
  
  footer p,
  foot a {
    font-size: 14px;
    margin: 3px;
  }
  
  
  a {
    color: black;
  }
  
  /* The following will be taught as a step just to make camper understands
  the effect the visited pseudo-class has on a link.  The final color will be black.
  */
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: rgb(42, 165, 54);
  }
  
  .menu-icon {
    margin-top: -15px;
    height: 50px;
  }
  
  .coffee-icon {
    height: 45px;
  }

