@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800;900&display=swap');


/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Bebas Neue', sans-serif; */
}

body{
    font-family: 'poppins', sans-serif;
    background: linear-gradient(
        90deg,
        rgba(38,39,43,1) 0%,
        rgba(36,35,40,1) 51%,
        rgba(32,32,34,1) 100%
    );
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #eeeff3;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #eeeff3;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #009946;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}


.header-content{
    padding: 150px 0 100px 0;
}

.header-img{
    text-align: center;
}

.header-img h1{
    font-size: 120px;
    line-height: 120px;
    color: #eeeff3;
    margin-bottom: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.header-img img{
    width: 600px;
}

.header-txt{
    margin: -150px 0 0 -250px;
    background-color: #009946;
    padding: 55px 70px;
    width: 500px;   
}

.header-txt h3{
    font-size: 20px;
    font-weight: 400;
    color: #eeeff3;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    color: #d5d5dd;
}

.food{
    padding: 0 0 30px 0;
    text-align: center;
}

.food-title{
    padding: 0 250px;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #eeeff3;
    margin-bottom: 20px;
}

.food-content{
    margin-bottom: 40px;
}

.food-1{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.food-img-1, .food-img-2{
    width: 33%;
}

.food-img-1 img{
    width: 120px;
}

.food-img-2 img{
    width: 350px;
}

.food-txt{
    width: 33%;
    text-align: left;
}

.food-txt h3{
    color: #009946;
    font-size: 30px;
    margin-bottom: 15px;
}

.choice{
    padding: 100px 0 250px 0;
    background-image: linear-gradient(
        rgba(38,39,43,0.9),
        rgba(36,35,40,0.9)),
        url(img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.choice-content{
    text-align: center;
    padding: 0 350px;
}

.product{
    display: flex;
    margin-top: -120px;
}

.product-1{
    width: 50%;
    text-align: right;
}

.product-1 img{
    width: 180px;
    margin-right: 80px;
}

.product-2{
    width: 50%;
    background-color: #009946;
    padding: 50px 350px 50px 150px;
}

.product-2 h3{
    color: #eeeff3;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    margin-top: 35px;
    padding: 13px 35px;
    background-color: #007023;
    color: #eeeff3;
    font-size: 14px;
    text-transform: uppercase;
}

.blog{
    padding: 100px 0;
}

.blog-txt{
    text-align: center;
    padding: 0 250px;
}

.blog-content{
    display: flex;
    justify-content: space-around;
    background-image: url(img/i4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 250px 0;
}

.blog-1 img{
    width: 50px;
    border-radius: 100%;
}

.blog-2 img{
    width: 50px;

}

.blog-1{
    padding: 25px;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
    background-color: #009946;
    width: 450px;
}

.blog-2{
    padding: 25px;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
    background-color: #212224;
    width: 450px;
}

.blog-1 h3, .blog-2 h3{
    color: #eeeff3;
    font-size: 16px;
    margin: 15px;
}

.footer{
    padding: 50px 0 20px 0;
    border-top: 2px solid #d5d5d514;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link{
    display: flex;
    flex-direction: column;
}

.link h3{
    font-size: 20px;
    color: #eeeff3;
    margin-bottom: 15px;
}

.link a{
    display: block;
    margin-bottom: 15px;
    color: #d5d5d5;
}

.link a:hover{
    color: #009946;
}

h6 {
    text-align: center;
    font-size: 13px;
    color: #eeeff3;
    margin-bottom: 10px;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #25262a;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 100px 30px 30px 30px;
    }
    .header-img h1{
        font-size: 70px;
        line-height: 80px;
    }
    .header-img img{
        width: 300px;
    }
    .header-txt{
        margin: 0;
        text-align: center;
        background-color: #009946;
        padding: 30px;
        width: 310px;
    }
    .food{
        padding: 30px;
    }
    .food-title{
        padding: 0;
    }
    h2{
        font-size: 45px;
        line-height: 55px;
    }
    .food-1{
        flex-direction: column;
        margin-bottom: 0;
    }
    .food-img-1{
        width: 100px;
        order: 2;
    }
    .food-img-2{
        width: 100%;
        order: 3;
    }
    .food-img-1 img{
        width: 80px;
    }
    .food-img-2 img{
        width: 250px;
    }
    .food-txt{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        order: 1;
    }
    .choice{
        padding: 30px 30px 150px 30px;
    }
    .choice-content{
        padding: 0;
    }
    .product{
        flex-direction: column;
    }
    .product-1{
        width: 100%;
        text-align: center;
    }
    .product-1 img{
        width: 180px;
        margin: 0 0 10px 0;
    }
    .product-2{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .blog{
        pad: 30px;
    }
    .blog-txt{
        padding: 0;
    }
    .blog-content{
        flex-direction: column;
        padding: 30px;
    }
    .blog-1{
        margin-bottom: 50px;
        width: 100%;
    }
    .blog-2{
        width: 100%;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}